<section>
  <h2>All Bands</h2>
  <% if @bands.any?() %>
    <ul>
      <% @bands.each() do |band| %>
        <li><a href="/bands/<%= band.id() %>"><%= band.name() %></a>
          <form class="band-list" action="/bands/<%= band.id() %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <button type="submit" class="btn-remove"><i class="fa fa-times"></i></button>
          </form>
        </li>
      <% end %>
    </ul>
  <% else %>
    I don't know about any bands.&nbsp; Add one below!
  <% end %>
</section>

<section>
  <h3>Add new band:</h3>
  <form action="/bands" method="post">
    <div class="form-group">
      <input class="form-control" id="name" type="text" name="name">
    </div>
    <button type="submit" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-plus"></span>&nbsp; Add Band</button>
  </form>
</section>
