<h2><%= @venue.name() %></h2>

<% if @venue.bands().any?() %>
  <h3>Bands that have played this venue:</h3>
  <ul>
  <% @venue.bands().each() do |band| %>
    <li><a href="/bands/<%= band.id() %>"><%= band.name() %></a></li>
  <% end %>
  </ul>
<% else %>
  This venue is very boring.
<% end %>
