<h2><%= @venue.name() %></h2>

<% if @venue.bands().any?() %>
  <h2>Bands associated with this venue:</h2>
  <ul>
  <% @venue.bands().each() do |band| %>
    <li><a href="/bands/<%= band.id() %>"><%= band.name() %></a></li>
  <% end %>
  </ul>
<% else %>
  This venue is very boring.
<% end %>

<hr>
<a href="/venues">All venues</a>